/* Change the page's background color */
body {
  background-color: lightblue;
}

/* Headshot Styling Information */
.headshot {
  width: 300px;
  height: 350px;
  display: block;
  margin: 0 auto;
}
  
/* Style Header */
header {
  font-family: "Times New Roman", Times, serif;
  color: red;
  text-align: center;
}

/* Style all paragraphs */
p {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

/* Style Footers */
footer {
  font-family: Arial, sans-serif;
  font-size: 18px;
  text-align: center;
}
