/*Change the page's background color */
body {
  background-color: lightblue;
}
 
/* Style Header */
header {
  font-family: "Times New Roman", Times, serif;
  color: red;
  text-align: left;
}

/* Style all paragraphs */
p {
  font-family: Arial, sans-serif;
  font-size 16px;
  line-height: 1.5
}
